#transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding: 2.5rem;
  border-radius: 1.5rem;
  background-color: var(--color-background-secondary);
  text-align: center;
}

.transaction-title {
  font-size: 3rem;
  color: var(--color-title-in-primary);
}

.select-block {
  position: relative;
}

.select-block select {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  border-radius: 3rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
  color: #000;
}

.input-block label {
  font-size: 1.6rem;
  color: var(--color-text-base);
}

.input-block input {
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  height: 3rem;
  border: 1px solid var(--color-line-in-white);
  border-radius: 3rem;
}

.input-block input:focus {
  border: 1px solid var(--color-line-in-white);
  border-radius: 3rem;
}

.input-block label + input {
  margin-top: 1rem;
}

.input-block input + input {
  margin-top: 1rem;
}

.input-block input:hover {
  border: 1px solid #6e8efb;
}

#transaction a {
  text-decoration: none;
  color: var(--color-text-complement);
}

#transaction a:hover {
  color: var(--color-text-base);
  transform: scale(1.1);
  transition: 0.2s;
}

#transaction button {
  margin: 1rem 0 1rem 0;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #fff;
  width: 100%;
  height: 3rem;
  display: block;
  border: none;
  border-radius: 30px;
}

#transaction button:hover {
  color: #fff;
  border: none;
  transform: scale(1.05);
  transition: 0.2s;
  font-size: 16px;
}