#list-transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  padding: 2.5rem;
  border-radius: 1.5rem;
  background-color: var(--color-background-secondary);
  text-align: center;
}

.transaction-title {
  font-size: 3rem;
  color: var(--color-title-in-primary);
}

#list-transaction a {
  text-decoration: none;
  color: var(--color-text-complement);
}

#list-transaction a:hover {
  color: var(--color-text-base);
  transform: scale(1.1);
  transition: 0.2s;
}
